body {
  font-family: "Tektur", cursive;
}
header {
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 1px rgba(0, 0, 0, 0.05);
}

/* nav bar */

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 152px;
  height: 130px;
}
.logo {
  display: flex;
  align-items: center;
}
.img1 {
  width: 85px;
  height: 40px;
}
.paragraph1 {
  font-size: 45px;
  font-weight: 700;
  margin-left: 20px;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu li {
  margin-right: 32px;
  list-style: none;
}
.menu li a{
  color: #534c64;
}
.menu a {
  text-decoration: none;
}
.menu li a:hover{
  color: #f61c0d;
}
.icon {
  text-align: center;
  width: 230px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.fa-youtube {
  margin: 0px 10px;
}
.youtube {
  color: #f61c0d;
}
.tiktok {
  color: #000000;
}
#game {
  color: #ff42a5;
}

/* banner section */

.banner-container {
  display: flex;
  margin: 0px auto;
}
.banner-text {
  padding: 148px 220px 148px 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.banner-images {
  padding: 0px;
  margin-right: 300px;
}
.banner-img {
  width: 650px;
  height: 700px;
}
.heading {
  color: #0b0223;
  font-size: 45px;
  font-weight: 600;
  width: 350px;
  margin-bottom: 0px;
}
.b-icon {
  font-size: 90px;
  width: 350px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p1 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  width: 185px;
  margin-top: 12px;
  margin-bottom: 15px;
}
.p2 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  width: 140px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p3 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  width: 330px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.btn-primary {
  padding: 17px 32px;
  border: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.Rogue {
  background: #4ec5f7;
  margin-left: 7px;
}

/* funny video section */

.funny-videos {
  margin: 120px 150px;
}

/* overlay section */

.card{
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83%;
  background: rgba(0, 0, 0, 0.678);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .025s;
}
.card > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.card:hover{
  opacity: 1;
}
.card:hover > * {
  transform: translateY(0);
}
.overlay-heading{
  margin-top: 0px;
  font-size: 25px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  /* background: linear-gradient(90deg, #ea1c86 0%, #d62983 100%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.overlay{
  position: relative;
}
.overlay-img{
  display: block;
}
.overlay-pg a{
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

/* funny section */

.funny-title {
  text-align: center;
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: 700;
}
.funny-text {
  color: #534c64;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 48px;
}
.img-container {
  display: flex;
  gap: 24px;
}
.img-text{
  color: #534C64;
  font-size: 15px;
  font-weight: 500;
}

.funny-image {
  width: 282px;
  height: 350px;
}

/* play-instantly */

.play-instantly {
  margin: 120px 150px 0px 270px;
  display: flex;
  justify-content: space-between;
  height: 705px;
}
.poster {
  margin-right: 100px;
  margin-top: 200px;
}
.poster-heading {
  text-align: right;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 0px;
}
.poster-paragraph {
  color: #534c64;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  margin-top: 24px;
}
.inatantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-image .img1 {
  width: 580px;
  height: 630px;
  border-radius: 8px;
  margin-left: 120px;
}
.cute-image {
  position: relative;
  bottom: 260px;
}

.cute-image .img2 {
  width: 290px;
  height: 340px;
}

/* link section */

.link {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.quick-links {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 120px 150px 0px;
}
.quick-links1 {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 30px 255px 120px;
}
.btn-secondery {
  display: flex;
  /* width: 300px; */
  height: 70px;
  padding: 10px;
  border: none;
  gap: 6px;
  align-items: center;
  border-radius: 50px;
  background: #fff;
}
.btn-secondery:hover {
  color: #ff42a5;
  border: 1px solid #ff42a5;
}

/* footer section */

footer {
  padding: 115px 0px;
  color: #fff;
  background: #0b0223;
}
.footer-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-pg {
  margin: 0px;
  color: #fff;
  margin-left: 20px;
}
.footer-text {
  gap: 40px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.footer-text a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.footer-text a:hover {
  color: #f61c0d;
}
.footer-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}
.footer-icons a {
  color: #fff;
}
.footer-terms {
  display: flex;
  gap: 30px;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
  margin-top: 50px;
}
.footer-copyright p{
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}