body {
  font-family: "Tektur", cursive;
}
header {
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* nav bar */

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
  height: 130px;
}
.logo {
  display: flex;
  align-items: center;
}
.img1 {
  width: 86.041px;
  height: 40px;
}
.paragraph1 {
  font-size: 45px;
  font-weight: 700;
  margin-left: 20px;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu li {
  margin-right: 32px;
  list-style: none;
}
.menu a {
  text-decoration: none;
}
.icon {
  text-align: center;
  width: 262px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.fa-youtube {
  margin: 0px 10px;
}
.youtube {
  color: #f61c0d;
}
.tiktok {
  color: #000000;
}
#game {
  color: #ff42a5;
}

/* banner section */

.banner-container {
  display: flex;
  margin: 0px auto;
}
.banner-text {
  padding: 148px 220px 148px 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.banner-images {
  padding: 0px;
  margin-right: 300px;
}
.banner-img {
  width: 650px;
  height: 700px;
}
.heading {
  color: #0b0223;
  font-size: 45px;
  font-weight: 600;
  width: 350px;
  margin-bottom: 0px;
}
.b-icon {
  font-size: 90px;
  width: 350px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p1 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  width: 185px;
  margin-top: 12px;
  margin-bottom: 15px;
}
.p2 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  width: 140px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p3 {
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
  width: 330px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.btn-primary {
  padding: 17px 32px;
  border: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.Rogue {
  background: #4ec5f7;
  margin-left: 7px;
}
